body{
  overflow-x: hidden;
}

.rowLandingElement {
  width:100%;
  margin: 0 auto;
  &::after {
    content: '';
    display: block;
    clear:left;
    margin-bottom:25px
  }
}

.first,
.center,
.last {
  float:left;
  width:25%;
  height:200px;
  margin: auto 2.5%;
  background-image: url("https://image.nanopress.it/viaggi/fotogallery/780X0/68755/un-paesaggio-immerso-nel-verde.jpg");
}
